.about-company {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  padding-left: 13%;
  padding-right: 11.8%;
  position: relative;
  padding-bottom: 110px;
}

.about-company__header {
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  padding: 0;
  padding-left: 305px;
  padding-bottom: 21px;
  color: #666666;
  width: 67.2%;
}

.about-company__text {
  font-family: "PTMono-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin: 0;
  padding: 0;
  padding-left: 305px;
  // padding-left: 11%;
  padding-bottom: 21px;
  // width: 1290px;
  width: 89%;
}

.about-company__button {
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #00B2FF;
  width: 180px;
  height: 45px;
  border: 1px solid #00B2FF;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  margin-left: 305px;
  margin-top: 17px;
}

.about-company__image {
  position: absolute;
  // left: 346px;
  left: 18%;
  top: 7px;
  width: 217px;
  height: 313px;
}

@media (max-width: $tablet-width) {
  .about-company {
    margin: 0;
    margin-right: -3%;
    padding-left: 0%;
    padding-right: 0%;
    position: relative;
    padding-bottom: 83px;
  }

  .about-company__header {
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-size: 36px;
    line-height: 140.62%;
    margin: 0;
    padding: 0;
    padding-left: 27%;
    padding-bottom: 23px;
    width: 67.2%;
  }

  .about-company__text {
    margin: 0;
    padding: 0;
    padding-left: 27.8%;
    padding-bottom: 21px;
    width: 96%;
    // max-height: 109px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .about-company__button {
    background-color: transparent;
    margin-left: 27.6%;
    margin-top: 17px;
  }

  .about-company__image {
    position: absolute;
    left: -1%;
    top: 0%;
    width: 249px;
    height: 361px;
  }
}

@media (max-width: $mobile-width) {
  .about-company {
    margin: 0;
    margin-right: -3%;
    padding-left: 0%;
    padding-right: 0%;
    position: relative;
    padding-bottom: 64px;
  }

  .about-company__header {
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-size: 28px;
    margin: 0;
    padding: 0;
    padding-left: 4%;
    padding-bottom: 20px;
    width: 67.2%;
  }

  .about-company__text {
    margin: 0;
    padding: 0;
    padding-left: 5.3%;
    padding-bottom: 39px;
    width: 96%;
    // max-height: 109px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .about-company__button {
    background-color: transparent;
    margin-left: 5.6%;
    margin-top: 17px;
  }

  .about-company__image {
    display: none;
  }
}
