.advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 75px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/triangle-middle-adv.svg"); // переименовать!
    background-position: center;
    background-repeat: no-repeat;
    width: 98.5%;
    height: 1273px;
    top: 44px;
    left: 0px;
    z-index: -1;
  }
}

.advantages__list {
  list-style-type: none;
  width: 62.5%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.advantages__item {
  width: 47.5%;
  min-height: 299px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  position: relative;
  border-left: 3px solid #00B2FF;

  &:hover {
    background-color: #00B2FF;
  }

  &:hover::before {
    fill: #FFFFFF; //  не работает???
  }

  &--terms::before {
    content: "";
    position: absolute;
    background-image: url("../img/terms.svg");
    background-position: center;
    width: 29px;
    height: 35px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-repeat: no-repeat;
    top: 40px;
    left: 44px;
  }

  &--suppliers::before {
    content: "";
    position: absolute;
    background-image: url("../img/suppliers.svg");
    background-position: center;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    top: 40px;
    left: 44px;
  }

  &--confidence::before {
    content: "";
    position: absolute;
    background-image: url("../img/confidence.svg");
    background-position: center;
    width: 36px;
    height: 31px;
    background-repeat: no-repeat;
    top: 42px;
    left: 44px;
  }

  &--cost::before {
    content: "";
    position: absolute;
    background-image: url("../img/cost.svg");
    background-position: center;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    top: 39px;
    left: 44px;
  }
}

.advantages__item:hover .advantages__title {
  color: #FFFFFF;
}

.advantages__item:hover .advantages__description {
  color: #FFFFFF;
}

.advantages__title {
  font-family: "RobotoCondensed-Bold", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: #00B2FF;
  margin: 0;
  padding: 0;
  padding-left: 44px;
  padding-top: 93px;
  padding-bottom: 17px;
}

.advantages__description {
  font-family: "PTMono-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
  margin: 0;
  padding: 0;
  padding-left: 43px;
  padding-bottom: 66px;
  width: 93.3%;
}

@media (max-width: $tablet-width) {
  .advantages {
    padding-top: 54px;
    padding-bottom: 23px;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/triangle-tablet-adv.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 636.33px;
      height: 640px;
      top: 207px;
      left: 172px;
      z-index: -1;
    }
  }

  .advantages__list {
    width: 96%;
  }

  .advantages__item {
    width: 46.6%;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    position: relative;
    border-left: 2px solid #00B2FF;

    &:hover {
      background-color: #00B2FF;
      color: #FFFFFF; //  не работает???
    }

    &:hover::before {
      fill: #FFFFFF; //  не работает???
    }

    &--terms::before {
      width: 29px;
      height: 35px;
      top: 24px;
      left: 23px;
    }

    &--suppliers::before {
      width: 35px;
      height: 35px;
      top: 20px;
      left: 23px;
    }

    &--confidence::before {
      width: 36px;
      height: 30px;
      top: 25px;
      left: 20px;
    }

    &--cost::before {
      width: 35px;
      height: 35px;
      top: 23px;
      left: 26px;
    }
  }

  .advantages__item:first-child,
  .advantages__item:nth-child(2) {
    min-height: 306px;
  }

  .advantages__item:nth-child(3),
  .advantages__item:nth-child(4) {
    min-height: 232px;
  }

  .advantages__title {
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    padding-left: 6.6%;
    padding-top: 66px;
    padding-bottom: 9px;
  }

  .advantages__description {
    margin: 0;
    padding: 0;
    padding-left: 6.6%;
    padding-bottom: 19px;
    width: 93.3%;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding-top: 37px;
    padding-bottom: 37px;
    position: relative;
    overflow: hidden;

    &::after {
      display: none;
    }
  }

  .advantages__list {
    margin: 0;
    width: 100%;
  }

  .advantages__item {
    width: 90.6%;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 5px;
    border-left: 2px solid #00B2FF;

    &:hover {
      background-color: #00B2FF;
      color: #FFFFFF; //  не работает???
    }

    &:hover::before {
      fill: #FFFFFF; //  не работает???
    }

    &--terms::before {
      width: 29px;
      height: 35px;
      top: 24px;
      left: 23px;
    }

    &--suppliers::before {
      width: 35px;
      height: 35px;
      top: 20px;
      left: 23px;
    }

    &--confidence::before {
      width: 36px;
      height: 30px;
      top: 25px;
      left: 20px;
    }

    &--cost::before {
      width: 35px;
      height: 35px;
      top: 23px;
      left: 26px;
    }
  }

  .advantages__item:first-child,
  .advantages__item:nth-child(2) {
    min-height: 310px;
  }

  .advantages__item:nth-child(3) {
    min-height: 232px;
  }

  .advantages__item:nth-child(4) {
    min-height: 244px;
  }

  .advantages__title {
    width: 90%;
    font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
    font-size: 20px;
    line-height: 140.62%;
    margin: 0;
    padding: 0;
    padding-left: 8.6%;
    padding-top: 71px;
    padding-bottom: 8px;
  }

  .advantages__item:nth-child(3) .advantages__title,
  .advantages__item:nth-child(4) .advantages__title {
    padding-top: 64px;
  }

  .advantages__item:nth-child(3) .advantages__title{
    padding-bottom: 0px;
  }

  .advantages__item:nth-child(3) .advantages__description{
    margin-top: -7px;
  }

  .advantages__item:nth-child(4) .advantages__title {
    padding-bottom: 14px;
  }

  .advantages__description {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    padding-left: 8%;
    padding-bottom: 18px;
    width: 98%;
  }
}
