.advantages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1920px;
  margin: 0 auto;
  padding-left: 250px;
  padding-right: 250px;

  // background-color: #1B2D37;
  // background-image: url("../img/background.png");
  position: relative;
}

.advantages__list {
  list-style-type: none;
  width: 1170px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.advantages__item {
  width: 570px;
  margin: 0;
  padding: 0;
}


// <section class="advantages">
//       <a name="advantages">
//         <div class="advantages__wrapper">
//           <h2 class="visually-hidden">Преимущества</h2>
//           <ul class="advantages__list">
//             <li class="advantages__item advantages__item--terms">
//               <h3 class="advantages__title">Оперативные сроки</h3>
//               <p class="advantages__description">Усовершенствованная логистическая система позволяет нам просчитывать стоимость, производить и доставлять заказы плат и комплектующих в самые короткие сроки</p>
//             </li>
//             <li class="advantages__item advantages__item--suppliers">
//               <h3 class="advantages__title">Крупные поставщики</h3>
//               <p class="advantages__description">Нашими поставщиками являются такие крупные мировые компании как: OSRAM, CREE, HOLGLITRONIC, REFOND. Сотрудничество с такими компаниями обеспичивает хорошее качество нашей продукции.</p>
//             </li>
//             <li class="advantages__item advantages__item--confidence">
//               <h3 class="advantages__title">Полная конфиденциальность</h3>
//               <p class="advantages__description"></p>По желанию клиента мы обеспечиваем полную конфеденциальность.</p>
//             </li>
//             <li class="advantages__item advantages__item--cost">
//               <h3 class="advantages__title">Персонализация стоимости</h3>
//               <p class="advantages__description">Мы подбираем определенную фабрику, поставщиков, вид доставки, чтобы установить ту цену, которая Вас устраивает.</p>
//             </li>
//           </ul>
//         </div>
//       </a>
//     </section>
