.consult {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  color: #FFFFFF;
  background: #00B2FF;
  position: relative;
  background-image: url("../img/paper_airplane.png"), url("../img/triangles-left-write.svg");
  background-size: 26.5%, 31.7%;
  background-repeat: no-repeat;
  background-position: top 42% left 24.7%, top 51% left 15%;
  z-index: 2;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/paper_airplane@2x.png"), url("../img/triangles-left-write.svg");
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/triangles-right-write.svg");
    // background-repeat: no-repeat;
    width: 18%;
    height: 86%;
    top: 6%;
    right: 0%;
    z-index: 0;
  }
}

.consult__wrapper {
  width: 29.7%;
  margin: 0;
  padding: 0;
  margin-left: 50.6%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}

.consult h2 {
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 92px;
  padding-bottom: 10px;
  position: relative;
}

.consult p {
  font-family: "PTMono-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  width: 100%;
  padding-bottom: 52px;
  margin-left: 3px;
}

.consult__form {
  width: 100%;
  margin-left: 3px;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
}

@media (max-width: $tablet-width) {
  .consult {
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-image: none;
    z-index: 2;

    &::before {
      display: none;
    }
  }

  .consult__wrapper {
    width: 76.6%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 3;
  }

  .consult h2 {
    font-size: 32px;
    line-height: 140.62%;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 17px;
  }

  .consult p {
    padding-bottom: 54px;
  }

  .consult__form {
    margin-left: 2px;
  }
}

@media (max-width: $mobile-width) {
  .consult {
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    background-image: none;
    z-index: 2;

    &::before {
      display: none;
    }
  }

  .consult__wrapper {
    width: 91%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 3;
  }

  .consult h2 {
    font-size: 28px;
    line-height: 140.62%;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 13px;
  }

  .consult p {
    padding-bottom: 25px;
    font-size: 16px;
    line-height: 22px;
    margin-left: 1px;
  }

  .consult__form {
    margin-left: 0px;
  }
}
