.modal{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  width: 490px;
  padding: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  position: fixed;
  left: 50%;
  bottom: 50%;
  margin-left: -245px;
  margin-bottom: -302px;
  z-index: 150;

  // position: fixed; /* фиксированное положение */
  // top: 0;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // // background: #E5E5E5; /* цвет фона */
  // background: rgba(259,259,259, 0.1);
  // z-index: 3;
  // opacity: 0; /* по умолчанию модальное окно прозрачно */
  // -webkit-transition: opacity 200ms ease-in;
  // -moz-transition: opacity 200ms ease-in;
  // transition: opacity 200ms ease-in; /* анимация перехода */
  // pointer-events: none; /* элемент невидим для событий мыши */
  // margin: 0;
  // padding: 0;

  // &:target {
  //   opacity: 1; /* делаем окно видимым */
  //   pointer-events: auto; /* элемент видим для событий мыши */
  //   overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
  // }
}

.modal__window {
  position: relative;
  width: auto;
  margin: 10px;
  width: 490px;
  // left: 715px;
  // top: 741px;
  background-color: #00B2FF;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  padding-left: 39px;
  padding-right: 39px;
}

.modal__header {
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 140.62%;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-bottom: 12px;
}

.modal__text {
  font-family: "PTMono-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 97%;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-bottom: 35px;
}

.modal__input{
  font-family: "PTMono-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  line-height: 22px;
  padding-left: 24px;
  padding-top: 13px;
  padding-bottom: 17px;
  margin-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
  border: none;

  &::placeholder {
    font-family: "PTMono-Regular", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }

  &--question {
    padding-bottom: 68px;
  }
}

.modal__button {
  width: 100%;
  background-color: #00B2FF;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.modal__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.modal__checkbox+label {
  display: inline-flex;
  user-select: none;
  padding-top: 35px;
}

.modal__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.modal__checkbox:checked+label::before {
  background-image: url("../img/checkbox.svg");
  margin-right: 31px;
}

.modal__checkbox__label {
  width: 90%;
  padding-left: 39px;
  font-family: "PTMono-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255,255,255, 0.8);
  padding-left: 0px;
}

.modal__show {
  display: block;
  -webkit-animation: bounce 0.6s;
  animation: bounce 0.6s;
}

.modal__error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

.modal__close {
  position: absolute;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px transparent;
  border-radius: 5px;
  background-image: url("../img/modal-close.svg");
  background-position: center;
  width: 16.56px;
  height: 16.56px;
  background-repeat: no-repeat;
  top: 20px;
  right: 20px;

  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }

  .btn:hover,
  .btn:focus {
    color: #9555af;
    border-color: currentColor;
    background-color: white;
  }
}

// <section class="modal">
//     <!-- visually-hidden -->
//     <h2 class="modal__header">Закажите звонок</h2>
//     <p class="modal__text">Оставьте контакты, мы проконсультируем вас бесплатно в удобное время</p>
//     <form action="#" class="modal__form" method="post">
//       <label class="modal__label modal__label--name" for="name"></label>
//       <input class="modal__input modal__input--name" id="name" name="name" placeholder="Имя" type="text">
//       <label class="modal__label modal__label--phone" for="phone"></label>
//       <input class="modal__input modal__input--phone" id="phone" name="name" placeholder="Телефон" type="text">
//       <label class="modal__label modal__label--question" for="question"></label>
//       <input class="modal__input modal__input--question" id="question" name="name" placeholder="Ваш вопрос" type="text">
//       <button class="modal__button" type="submit">Отправить</button>
//       <input class="modal__checkbox" type="checkbox" id="modal-agree" name="modal-agree" value="yes" checked>
//       <label class="modal__checkbox__label" for="modal-agree">Я согласен на обработку персональных данных</label>
//     </form>
//     <button class="modal__close" type="button">Закрыть</button>
//   </section>
