.services {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: #1B2D37;
}

.services__header{
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #FFFFFF;
  width: 61.98%;
  padding: 0;
  margin: 0 auto;
  padding-top: 88px;
  padding-left: 0.5%;
  padding-bottom: 52px;
}

.services__list {
  list-style: none;
  font-family: "RobotoCondensed-Regular", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  width: 60.94%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0 auto;
  padding-bottom: 98px;
}

.services__item {
  width: 31.6%;
  max-width: 370px;
  min-height: 620px;
  // margin: 0 auto;
  // padding-top: 50px;
  // padding-left: 3.4%;
  // padding-right: 15%;
  // padding-bottom: 42.9%;
  position: relative;
  background-color: #1B2D37;
  margin-bottom: 30px;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/service-square.svg");
    background-position: center;
    width: 63px;
    height: 63px;
    bottom: 0px;
    right: 0px;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/service-vector.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 8px;
    bottom: 26px;
    right: 19px;
    z-index: 3;
  }

  &--manufacture {
    background-image: url("../img/service1.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--installation {
    background-image: url("../img/service2.png");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--catalog {
    background-image: url("../img/service3.png");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.services__item__link {
  display: block;
  // width: 31.1%;
  // margin: 0 auto;
  padding-top: 48px;
  padding-left: 11.8%;
  padding-right: 42%;
  padding-left: 43px;
  padding-right: 153px;
  // padding-bottom: 137.9%;
  padding-bottom: 42px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid transparent;

  &:hover{
    color: #00B2FF;
    border: 1px solid #00B2FF;
  }

  &:active{
    opacity: 0.6;
  }
}

@media (max-width: $tablet-width) {
  .services {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #1B2D37;
  }

  .services__header{
    font-size: 32px;
    line-height: 140.62%;
    width: 85%;
    padding: 0;
    margin: 0;
    padding-top: 50px;
    padding-left: 3.1%;
    padding-bottom: 51px;
  }

  .services__list {
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    padding-bottom: 33px;
  }

  .services__item {
    width: 720px;
    max-width: 720px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 46px;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/service-square.svg");
      background-position: center;
      width: 63px;
      height: 63px;
      bottom: 0px;
      right: 0px;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/service-vector.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 8px;
      bottom: 26px;
      right: 19px;
      z-index: 3;
    }

    &--manufacture {
      background-image: url("../img/service1-tablet.png");
      background-position: center;
      background-repeat: repeat;
    }

    &--installation {
      background-image: url("../img/service2-tablet.png");
      background-position: center;
      background-repeat: no-repeat;
    }

    &--catalog {
      background-image: url("../img/service3-tablet.png");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .services__item__link {
    width: 720px;
    padding: 0;
    margin: 0 auto;
    padding-top: 39px;
    // padding-left: 5.5%;
    // padding-right: 65%;
    padding-left: 44px;
    padding-right: 502px;
    padding-bottom: 39px;
    position: relative;

    &--catalog {
      padding-top: 47px;
      padding-bottom: 146px;
    }
  }
}

@media (max-width: $mobile-width) {
  .services {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    position: relative;
    background: #1B2D37;
  }

  .services__header{
    font-size: 28px;
    line-height: 140.62%;
    width: 95%;
    padding: 0;
    margin: 0;
    padding-top: 51px;
    padding-left: 8%;
    padding-bottom: 41px;
  }

  .services__list {
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    padding-bottom: 34px;
  }

  .services__item {
    width: 290px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/service-square.svg");
      background-position: center;
      width: 63px;
      height: 63px;
      bottom: 0px;
      right: 0px;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/service-vector.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 8px;
      bottom: 27px;
      right: 22px;
      z-index: 3;
    }

    &--manufacture {
      background-image: url("../img/service1-mobile.png");
      background-position: center;
      background-repeat: no-repeat;
    }

    &--installation {
      background-image: url("../img/service2-mobile.png");
      background-position: center;
      background-repeat: no-repeat;
    }

    &--catalog {
      background-image: url("../img/service3-mobile.png");
      // background-position: top 19px right 0px;
      background-repeat: no-repeat;
      // padding-top: 49px;
      // padding-bottom: 184px;
    }
  }

  .services__item__link {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    padding-top: 19px;
    // padding-left: 11.4%;
    // padding-right: 26%;
    padding-left: 34px;
    padding-right: 102px;
    padding-bottom: 19px;

    &--catalog {
      padding-top: 29px;
      padding-bottom: 165px;
    }
  }
}
